/* 
Nota:
    BORDER BOX
        Al indicar un box-sizing: border-box
        se puede hacer que el tamaño indicado sea
        el actual y no sea alterado por el contenido.

        (Es decir, si le aplicas width: 200px a
        algun elemento y luego un padding: 20px,
        el ancho será 200px siempre y no 240px).
*/

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* ==[ Global ]== */

h1 {
	color: #940000;
}

h1 span {
	color: rgb(0, 0, 0);
}

a {
	color: #570000;
	text-decoration: none;
}

/* ==[ Clases ]== */

.nav {
	text-transform: uppercase;
}

/*
Nota:
    El atajo del 'padding' va en la direccion de las manecillas 
    del reloj (ARRIBA DERECHA ABAJO IZQUIERDA).
        (1)
    (4) [_] (2)
        (3)
    
    El atajo 'border' es: 'border: (size) (style) (color);'
        (Si se quiere un lado especifico es 'border-[side]'.
*/

.top-navbar {
	border-top: 1px solid rgb(15, 15, 15);
	padding: 16px 8px 16px 8px;
}

.header {
	margin-top: 64px;
	margin-bottom: 64px;
	text-align: center;
}

.about-us {
	background-color: red;
	padding: 25px;
	width: 256px;
}

/*                                                                       
a {
    background-color: rgb(255, 0, 76);
    display: inline-block;
    height: 32px;
    width: 128px;
}

Nota:
    display:
        Un display de tipo 'block' hará que el elemento se separe
        por debajo del anterior sin importar que tanto tamaño libre
        haya en el lado derecho.

        Un display de tipo 'inline' hará que el elemento se
        coloque uno al lado del otro y con un tamaño de ancho y alto
        ya definido (No se puede colocar un 'width' ni 'height').

        Con 'inline-block' hace que se comporte coo un elemento
        inline pero puedes colocarle un width y height.

    Flexbox hace que esta propiedad ya no sea tan relevante
    como lo era antes.
*/
